html,
body {
	padding: 0;
	margin: 0;
}
body {
	background-color: #D3D3D3;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}
.img-top{
	width: 75%;
}
.contact {
	margin-top: 7em;
	max-width: 7%;
}
.link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.logo {
	width: 55%;
	height: auto;
	margin-top: 12.5em;
}

