html, body{
	margin: 0px;
	padding: 0px;
}

.center-block {
    display: block;
    margin-top: 5%;
    margin-right: auto;
    margin-left: 25%;
}

h1{
    text-align: center;
}
.modalTitle{
	text-align: center;
	padding-left: 10px;
}
button.close{
	padding-right: 10px;
}
img{
	margin: auto;
	padding: 10px;
	border-radius: 16px;
}